.dart_tool/
.packages
/build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.DS_Store
rust/target/
rust/Cargo.lock

example/.dart_tool/
example/build/
example/macos/Pods/
example/macos/Flutter/ephemeral/
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/windows/flutter/ephemeral/
example/linux/flutter/ephemeral/
example/.flutter-plugins
example/.flutter-plugins-dependencies
cargokit/build_tool/.dart_tool/
